:root {
  --page-background: silver;
  --forestGreen: darkolivegreen;
  --forestGreenLt1: rgba(85, 107, 47, 0.2);
  --forestGreenBox: 1px solid darkolivegreen;
  --tabHeight: 100px;
  --cardHeight: 280px;
  --forestGreenBox: 1px solid rgb(107, 134, 60);

}

* {box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--forestGreen);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--forestGreenLt1);
  color: var(--forestGreen);
  border-radius: 0;
  border-bottom: 6px solid var(--forestGreen);
}

.display-3 {
  margin: 0 0 20px;
}

.description {
  white-space: pre-wrap;
}

.container {
  display: flex; /*added*/
  flex-direction: column; /*added*/
  justify-content: space-between;
}

.row {
  white-space: normal;
  height: 80px;
  margin-top: 10px;
  border: 1px solid var(--forestGreenLt1);
  border-radius: 15px 5px 5px 15px;
  /* border-right: 0; */
}

.hour {
  text-align: right;
  padding-right: 30px;
}

.textBlock{
  line-height: normal;
  max-height: 78px; /* compensate for auto-scroll */
  overflow: auto !important;
}

/* .textBlock:hover > *[contenteditable="true"] { */
.textBlock:hover {
  background-color: rgba(85, 107, 47, 0.3);
}

[contenteditable]:focus {
  outline: 1px solid darkolivegreen;
}

.clear {
}

.save {
  border-left: 1px solid var(--forestGreenLt1);
}

.clearicon, .saveicon {
  height: 30px;
  width: 30px;
  opacity: 0.8;
}

.clearicon:hover, .saveicon:hover {
  opacity: 0.4;;
  transition: all 0.1s ease-in-out;
}


.past {
  background-color: rgba(211, 211, 211, 0.2);
  color: rgba(0, 0, 0, 0.3);
}

.present {
  background-color: lightyellow;
}

.future {
  background-color: rgba(85, 107, 47, 0.1);
}

 /* RESPONSIVE MEDIA QUERIES */

 /* Extra large devices (large desktops, 1200px and up) */
 @media (max-width: 1200px) { 
  /* :root {--cardHeight: 300px;} */
 }
 
 /* Large devices (desktops, 992px and up) */
 @media (max-width: 992px) {
 }

 /* Medium devices (tablets, 768px and up) */
 @media (max-width: 768px) { 
 }

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {

 }
