:root {
  --page-background: silver;
  --forestGreen: darkolivegreen;
  --forestGreenLt1: rgba(85, 107, 47, 0.2);
  --forestGreenBox: 1px solid darkolivegreen;
  --tabHeight: 100px;
  --cardHeight: 280px;
  --forestGreenBox: 1px solid rgb(107, 134, 60);

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--forestGreen);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--forestGreenLt1);
  color: var(--forestGreen);
  border-radius: 0;
  border-bottom: 6px solid var(--forestGreen);
}

.display-3 {
  margin: 0 0 20px;
}

.description {
  white-space: pre-wrap;
}

.container {
  display: flex; /*added*/
  flex-direction: column; /*added*/
  justify-content: space-between;
}

.row {
  white-space: normal;
  height: 80px;
  margin-top: 10px;
  border: 1px solid var(--forestGreenLt1);
  border-radius: 15px 5px 5px 15px;
  /* border-right: 0; */
}

.hour {
  text-align: right;
  padding-right: 30px;
}

.textBlock{
  line-height: normal;
  max-height: 80px;
 overflow: hidden !important;
  display: block;
  max-height: 4.9em;
  line-height: 1.4em;
  /* text-overflow: ellipsis; */
}

/* .textBlock:hover > *[contenteditable="true"] { */
.textBlock:hover {
  background-color: rgba(85, 107, 47, 0.3);
}

[contenteditable]:focus {
  outline: 1px solid darkolivegreen;
}

.clear {
  /* position: relative;
  top: 15px; */
  /* text-align: center; */
  /* background-color: transparent;
  background-image: url("../images/saveIcon.png");
  background-repeat: no-repeat; */
}

.save {
  /* position: relative;
  top: 15px; */
  /* text-align: center; */
  border-left: 1px solid var(--forestGreenLt1);
  /* background-color: transparent;
  background-image: url("../images/saveIcon.png");
  background-repeat: no-repeat; */
}


.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}



 /* RESPONSIVE MEDIA QUERIES */

 /* Extra large devices (large desktops, 1200px and up) */
 @media (max-width: 1200px) { 
  /* :root {--cardHeight: 300px;} */
 }
 
 /* Large devices (desktops, 992px and up) */
 @media (max-width: 992px) {
 }

 /* Medium devices (tablets, 768px and up) */
 @media (max-width: 768px) { 
 }

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {

 }
